#recipe-ingredients {
    margin-top: 1em;
    margin-bottom: 2em;
}

#recipe-ingredients h2 {
    margin-top: 0.5em;
}

.ingredients-table {
    /* Adjust width as needed */
    border-collapse: collapse;
}
.ingredients-table td {
    padding: 5px 10px;
    vertical-align: top;
  }

.ingredient-amount {
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
}

.ingredient-name {
    text-align: left;
    padding-left: 10px;
}