{{- define "main" }}

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ "css/recipe.css" | relURL }}">

<!-- Custom JavaScript -->
<script src="{{ "js/recipe.js" | relURL }}" defer></script>

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Params.ingredient_lists }}
  <div id="recipe-ingredients" default-servings="{{ $.Params.servings }}">
    <!-- Servings input field -->
    <label for="servings-input">Portionen:</label>
    <div class="input-container">
      <button class="minus" aria-label="Decrease by one" {{ if le .Params.servings 1 }}disabled{{ end }}>
        <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line y1="1" x2="16" y2="1" stroke-width="2" class="icon" />
        </svg>
      </button>
      <input type="number" id="servings-input" value="{{ .Params.servings }}" min="1"
        oninput="if(this.value < 1 || this.value === '') {this.value = 1; this.select()}">
      <button class="plus" aria-label="Increase by one">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
            <line x1="8" x2="8" y2="16" stroke-width="2" />
            <line y1="8" x2="16" y2="8"stroke-width="2" />
          </svg>
      </button>
    </div>
    {{- range .Params.ingredient_lists }}
    {{- if .title }}
    <h2>{{ .title }}</h2>
    {{- end }}
    <table class="ingredients-table">
      {{- range .ingredients }}
      <tr>
        <td class="ingredient-amount">
          <span class="ingredient-quantity" data-quantity="{{ index . 0 }}">{{ replace (index . 0) "." "," }} </span>
          <span class="ingredient-unit">{{ index . 1 }}</span>
        </td>
        <td class="ingredient-name">{{ index . 2 }}</td>
      </tr>
      {{- end }}
    </table>
    {{- end }}

  </div>
  {{- end }}


  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}